.breadcrumbs {
    color: #8f8f8f;
    font-size: 13px;
    list-style: none;
    margin: 2px 0 20px;
    padding: 0;
    li {
        display: inline-block;
        padding-right: 20px;
        position: relative;
        &:after {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAQAAACFbCRbAAAANUlEQVQIHQXBsRFAUABAsbeYwh3nKyxjpQxkAK2SHSS5bVJmn13J5HMkOT3J4jUyvFblMks/YlUbPIKuLh4AAAAASUVORK5CYII=) no-repeat;
            content: '';
            display: block;
            height: 7px;
            position: absolute;
            right: 2px;
            top: 6px;
            width: 7px;
        }
        a {
            color: #8f8f8f;
            display: inline-block;
            height: 16px;
            @include hover(#666);
        }
        &:last-child:after {
            display: none;
        }
    }
}